.auth-nav {
    @include flexed ($jc: null, $ai: baseline, $gap: null);
    
        &--append {
            margin-left: auto;
        }
}
.auth-nav__item:not(:last-child) {
    margin-right: 50px;
}
.auth-nav__link {
    @include flexed ($jc: null, $ai: baseline, $gap: null);
   

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    text-decoration: none;
    @include transition($type: color);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.auth-nav__icon {
    fill: currentColor;
    display: inline-block;

    &:hover {
        fill: $accent-color;
    }
}

.auth-nav__icon--preppend {
    margin-right: 10px;
}