
/* form-footer */
.footer-subscribe {

display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 1200px) {

        align-items: flex-start;
        
    }

   width: 100%;
}

.footer-subscribe__title {

    margin-top: 0;
    
    padding: 0;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;

    color: $primary-white-color;
}

.footer-subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 12px;
        }
}
.footer-subscribe__label{
    width: 100%;
    @media screen and (min-width: 768px) {
            width: auto;
        }
}
.footer-subscribe__email {
   width: 100%;
    @media screen and (min-width: 480px) {
            width: 450px;
        }
    @media screen and (min-width: 480px) {
               width: 358px;
               
           }
   
    padding: 15px 16px;

    color: $primary-white-color;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer-subscribe__form:focus-within .footer-subscribe__email {
    border-color: $accent-color;
    @include transition($type: border-color);
}

.footer-subscribe__form:not(focus-within) .footer-subscribe__email {
       @include transition($type: border-color);
}

.footer-subscribe__email:focus-visible {
    outline: 0;
}

.footer-subscribe__email::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: $address-list-rgba;
}

.footer-subscribe__button-icon {
    display: block;
    margin-left: 10px;
    background-size: contain;
}

.footer-subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 0;
    border-radius: 4px;

    text-align: center;
    cursor: pointer;
    border: none;
    font-family: inherit;
    /*outline: none;*/


    color: $primary-white-color;
    background-color: $accent-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /*align-items: center;*/
    letter-spacing: 0.06em;
}